html, body {
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: rgb(251, 218, 175);
}
h1{
    align-self: center;
    font-size: 4em;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    margin: 30px;
}
#cover_div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    position: relative;
    background: url("../images/study-room-in-white_1.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
#cover_content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.cover-text{
    margin:0%;

}
.protest-riot-regular {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header{
    background-color:antiquewhite;
    position: fixed;
    opacity: 0.;
    left: 0;
    top: 0;
    padding: 0.3rem;
    width: calc(100% - 0.3rem);
    z-index: 10;
    display: inline;
    vertical-align: middle;
}
p{
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    margin: 5px;
    padding: 2 rem;
}
article{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4rem;
}
.header_links{
    font-size:x-large; 
    color: orange;
    float: right;
    text-decoration: none;
}

#title_name{
  color: white; 
  font-size:4em; 
  animation: name 3s alternate infinite ease-in-out;
}



  @media screen{
    @keyframes SDSLabs {
      0%{
        color: white;
      }
      25%{
        color:aqua;
      }
      50%{
        color: rgb(0, 124, 248);
      }
      75%{
        color: rgb(145, 58, 122);
      }
      100%{
        color: rgb(130, 72, 72);
      }
    }

  @keyframes name {
    0%{
      text-shadow: none;
    }
    50%{
      text-shadow: 0 0 5px #fff,
      0 0 10px orange,
      0 0 20px white,
      0 0 40px orange
    }    
    100%{
      text-shadow: none;
    }
  }
  }

  #Labs{
    font-size: 1.5em;
    animation: SDSLabs 3s alternate infinite ease-in-out;
  }

  #profile_pic{
    border-radius: 50%; 
    width: 20rem; 
    height: auto;
    margin-bottom: 3%;
  }


  .achievement_list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight{
  color:rgb(227, 149, 3);
}

.achievement_list li{
  font-size: 1.5em;
  margin: 5px;
  padding: 2 rem;
}

@media screen and (max-width: 600px){
  .container h1{
    font-size: 12vw;
  }
  
  .container p{
    font-size: 5vw;
  }
  
  .container{
    padding-top: 3rem;
  }
  .achievement_list li{
    font-family: "Courier Prime", monospace;
    font-size: 5vw;
  }
}


