@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Kode+Mono:wght@400..700&family=Protest+Riot&display=swap');


html, body {
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background: linear-gradient(to bottom right, rgba(230,26,26,1) 0%, rgba(212,101,46,1) 23%, rgba(244,162,59,1) 57%, rgba(255,87,0,1) 100%);
    background-attachment: fixed;
}
h1{
    align-self: center;
    font-size: 4em;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    padding: 2rem;
    color: antiquewhite;
}
.protest-riot-regular {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header{
    background-color:antiquewhite;
    position: fixed;
    opacity: 0.9;
    left: 0;
    top: 0;
    padding: 0.3rem;
    width: 100%;
    z-index: 10;
    display: inline;
}
p{
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    margin: 0px;
    padding: 0;
    text-align: center;
    transform: translateY(-80px);
}
article{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header_links{
    font-size:x-large; 
    color: orange;
    float: right;
    padding-inline: 10px;
    text-decoration: none;
}


.social_div{
    display: flex;
    justify-content: left;
    align-items: center;
    transform: translateY(-80px);
    padding-left: 10%;
}

.social_img{
    width: 10%;
    height: auto;
    padding: 10px;
}

.social_text{
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

a{
    text-decoration: none;
    color:black;
}

